---
layout: home
---

<div class="projects">
    <div class="grid">
        {% assign projects = site.projects | sort: "order" %}
        {% for project in projects %}
        {% assign name = project.images.first %}
            {% if project.show == true %}
                <a href="{{ project.website }}" class="card {% if project.primary == false %}hidden-project{% endif %}">
                    <figure>
                        <img data-src="{% asset '{{ name }}' @path %}" alt="{{ name }} image" width="250" height="170"><br>
                        <figcaption>{{ project.title }}</figcaption>
                    </figure>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <button type="button" class="more-projects">See more projects</button>
</div>
