<footer>
    <div class="content">
        <div id="about">
            <h3>About me</h3>
            <p>I'm a fullstack developer based in Nantes (France) who can make websites and games.<br> I enjoy working in others domains like UI/UX and I got an eye on design too.<br><br>
            Feel free to use one of this links to tchat with me.</p>
        </div>
        <div>
            <h3>Socials</h3>
            <ul>
                <li><a href="https://www.facebook.com/donoorhan"><i class="icon-facebook" aria-hidden="true"></i> Facebook</a></li>
                <li><a href="https://twitter.com/dorhan_"><i class="icon-twitter" aria-hidden="true"></i> Twitter</a></li>
                <li><a href="https://github.com/Donorhan"><i class="icon-github-circled" aria-hidden="true"></i> Github</a></li>
            </ul>
        </div>
        <div>
            <h3>Others</h3>
            <ul>
                <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01pxGVAFhkKvx_6r_aKbAxcw==&amp;c=h3oEQQTVYET7-FIhneirjKLeAnvBgI5qeXtR4L-S8s0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01pxGVAFhkKvx_6r_aKbAxcw\x3d\x3d\x26c\x3dh3oEQQTVYET7-FIhneirjKLeAnvBgI5qeXtR4L-S8s0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address"><i class="icon-mail" aria-hidden="true"></i> Email</a></li>
                <li><a href="{{ base }}/assets/cv_english.pdf"><i class="icon-doc" aria-hidden="true"></i> My resume</a></li>
            </ul>
        </div>
    </div>
</footer>