<section class="intro">
	<img src="{{ base }}/assets/img/avatar.png" alt="My avatar" width="102" height="102"/>
	<h1>Hi there, I'm Dono</h1>
	<p>
	I’m a passionate developer from Nantes working with various technologies.<br>
	If you’d like to discuss about your future project, or just say hello, feel free to <a href="http://www.google.com/recaptcha/mailhide/d?k=01pxGVAFhkKvx_6r_aKbAxcw==&amp;c=h3oEQQTVYET7-FIhneirjKLeAnvBgI5qeXtR4L-S8s0=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01pxGVAFhkKvx_6r_aKbAxcw\x3d\x3d\x26c\x3dh3oEQQTVYET7-FIhneirjKLeAnvBgI5qeXtR4L-S8s0\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">contact me</a>.
	</p>
</section>