body
{
	/*border-top: 7px solid #a1cb5f;*/
	background: #FCFCFC;
}



header
{

}


header #who
{
	margin: 0 auto;
	text-align: left;
	background: linear-gradient(to right, #5dc0eb, #1a9fe1);
	padding: 40px 0;
	margin-top: 50px;
	padding-top: 30px;
}

header #who p
{
	color: #C0E5F7;
	font-size: 15px;
	font-family: 'Cabin', sans-serif;
}

footer
{
	height: 40px;
	margin-top: 20px;
	text-align: center;
}

.separation
{
	margin: 30px auto;
	width: 150px;
	height: 1px;

	background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(41,137,216,0.7) 50%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(50%,rgba(41,137,216,0.7)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(41,137,216,0.7) 50%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(41,137,216,0.7) 50%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(41,137,216,0.7) 50%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(41,137,216,0.7) 50%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

#contact
{
	margin: 10px;
	margin-top: 30px;
	text-align: center;
}

#contact p
{
	color: #666;
	font-size: 11pt;
	font-family: 'Cabin', sans-serif;
}

#contact img
{
	opacity: 0.8;
}

#contact img:hover
{
	opacity: 1;
}

#who h1
{
	margin-left: -3px;
	text-transform: uppercase;
	color: #afe1f6;
	font-size: 35pt;
	font-family: 'Cabin', sans-serif;
}

#who h2
{
	font-size: 18px;
	color: white;
	font-family: 'Cabin', sans-serif;
	padding-bottom: 20px;
	font-weight: normal;
	margin-top: 0px;
}

#who h1 .name
{
	color: #354960;
}

#who .wrapper
{
	width: 60%;
	margin: 0 auto;
}

#projects
{
	margin: 0 auto;
	width: 60%;
	margin-top: 30px;
}

.thumbnail:hover
{
	background-color: #F2F2F2;
	border: 1px solid white;
}

.thumbnail
{
	transition-property: background-color;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;

	transition-duration: 0.35s;
	-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
}

.thumbnail img 
{ 
	filter: grayscale(45%);
	transition-duration: 0.35s;
	-webkit-filter: grayscale(45%);
	-webkit-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
}

.thumbnail:hover img { filter: grayscale(0%); }
.thumbnail:hover img { -webkit-filter: grayscale(0%); filter: grayscale(0%); }