---
layout: default
---

{% include intro.html %}

<section id="work" class="grey-area">
    <h2 class="title">My work</h2>
    <hr>
    {{ content }}
</section>

<section id="tools" class="white-area">
    <h2 class="title">Tools & skills</h2>
    <hr>
    <p>I've worked on many projects with many tools, here are my favorites.<br> If you want to know my skills take a look on <a href="{{ base }}/assets/cv_english.pdf">my resume</a>. Of course I like to learn new stuff too!</p>
    <div class="logos">
    	<a href="https://laravel.com">
    		<img src="{{ base }}/assets/img/laravel.png" alt="Laravel Logo" /><br>
    		Laravel
    	</a>
    	<a href="https://lumen.laravel.com/">
    		<img src="{{ base }}/assets/img/lumen.png" alt="Lumen Logo" /><br>
    		Lumen
    	</a>
    	<a href="https://vuejs.org">
    		<img src="{{ base }}/assets/img/vue.png" alt="VueJS Logo" /><br>
    		VueJS
    	</a>
    	<a href="https://unity3d.com">
    		<img src="{{ base }}/assets/img/unity3D.png" alt="Unity 3D Logo" /><br>
    		Unity 3D
    	</a>
    	<a href="http://esotericsoftware.com">
    		<img src="{{ base }}/assets/img/spine.png" alt="Spine Logo" /><br>
    		Spine
    	</a>
    	<a href="http://www.adobe.com/fr/products/photoshop.html">
    		<img src="{{ base }}/assets/img/photoshop.png" alt="Photoshop Logo" /><br>
    		Photoshop
    	</a>
    </div>
</section>
